<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>23880787840-6heaaj0l9911tvhbk7g2lnf46a41kmn2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.23880787840-6heaaj0l9911tvhbk7g2lnf46a41kmn2</string>
	<key>API_KEY</key>
	<string>AIzaSyA7cD7h77Jj_DU8_zyMrr8cIEugzm_wBh8</string>
	<key>GCM_SENDER_ID</key>
	<string>23880787840</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.johnsonsy.prettyface</string>
	<key>PROJECT_ID</key>
	<string>pretty-face</string>
	<key>STORAGE_BUCKET</key>
	<string>pretty-face.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:23880787840:ios:b7623fb4421b2ce99d4365</string>
</dict>
</plist>